:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: var(--charcoal-grey);
}

.signup-card {
    min-width: 100%;
}

.signup-img {
    width: 100%;
}

.signup-text {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.signup-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-slate-grey)
}

.signup-para {
    line-height: 1.5rem;
    font-weight: 500;
}

.signup-bullets {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-size: 1rem;
}

.bullet-item-container {
    display: flex;
    align-items: start;
    padding-top: .25rem;
}

.bullet-item {
    font-weight: 500;
    line-height: 1.5rem;
    padding-left: 1rem;
    list-style: none;
}

.signup-form {
    padding-top: 1.25rem;
}

.label-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: .4rem;
}

.email-label {
    color: var(--dark-slate-grey);
    font-weight: bold;
    font-size: .75rem;
}

.error-message {
    visibility: hidden;
}

.input-box {
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    opacity: 0.5;
    border-radius: .5rem;
    border-color: #00000080;
}

.input-box:focus {
    opacity: 1;
    
}

.submit {
    width: 100%;
    color: #fff;
    background: var(--dark-slate-grey);
    border: none;
    margin-top: 1.5rem;
    padding: 1.25rem 0;
    font-size: .95rem;
    font-weight: 600;
    border-radius: .5rem;
}



.confirmation-card {
    display: none;
}


.attribution {
    background-color: var(--dark-slate-grey);
    color: #fff;
    font-size: .75rem;
    padding: 1.5rem 0;
}