/* root colors and global styles */

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --gradient-orange: #fd634a;
    --gradient-pink: #ff3e83;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    color: var(--dark-slate-grey);
    font-weight: 700;
}

p {
    line-height: 1.5rem;
    font-weight: 500;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: var(--charcoal-grey);
}

/* signup form styling */

.signup-form-container {
    display: block;
    background: var(--white);
}

.signup-card {
    width: 100%;
    max-width: 428px;
}

.signup-img {
    width: 100%;
}

.signup-text {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.signup-para {
    font-size: 1.05rem;
}

.signup-bullets {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1.025rem;
}

.bullet-item-container {
    display: flex;
    align-items: start;
    padding-top: .25rem;
}

.bullet-item {
    font-weight: 500;
    line-height: 1.5rem;
    padding-left: 1rem;
    list-style: none;
}

.signup-form {
    padding-top: 1.25rem;
}

.label-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: .4rem;
}

.email-label {
    color: var(--dark-slate-grey);
    font-weight: bold;
    font-size: 1rem;
}

.error-message {
    font-size: 1rem;
    color: var(--tomato);
    opacity: 0;
}

/* input classes */

.input-box {
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    opacity: 0.75;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.829);
}

.input-box:focus {
    outline: 1.5px solid black;
    opacity: 1;
    color: #000000;
}

.input-box-error {
    outline: 2px solid hsl(4, 100%, 67%);
    background: #ff62578c;
    border: none;
    opacity: 1;
    color: black;
    width: 100%;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    font-size: 1rem;
}

.input-box-error:focus {
    background: #ff625760;
    border: none;
    outline: 2.5px solid red;
    color: #000000;
}

.input-box-error::placeholder {
    color: rgba(248, 79, 57, 0.849);
}

.button {
    width: 100%;
    color: var(--white);
    background: var(--dark-slate-grey);
    border: none;
    margin-top: 1.5rem;
    padding: 1.25rem 0;
    font-size: .95rem;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
}


.button:hover {
    background: linear-gradient(90deg, var(--gradient-pink), var(--gradient-orange));
    transition: background .3s ease;
}

/* success card styling */

.confirmation-card {
    display: none;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    background: var(--white);
}

.confirmation-icon {
    width: 4rem;
    padding-top: 8rem;
}

.confirmation-title {
    padding-top: 1rem;
    line-height: 2.5rem;
}

.email-highlight {
    color: rgba(0, 0, 0, 0.952);
    font-weight: 700;
}

.dismiss-button {
    margin-top: 15rem;
    margin-bottom: 2rem;
    color: #ffffffdc;
}

.attribution {
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-size: .85rem;
    padding: 1.5rem 0;
    width: 100%;
}

/* media queries */

@media (min-width: 1120px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--dark-slate-grey);
    }

    .signup-card {
        max-width: 100%;
        background-color: var(--dark-slate-grey);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-form-container {
        max-width: 62.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr min-content;
        padding:  1.5rem 1.5rem;
        border-radius: 2rem;
    }

    .signup-img {
        grid-column: 4 / 7;
        grid-row: 1 / 12;
        height: 100%;
        content: url('./assets/images/illustration-sign-up-desktop.svg');
    }

    .signup-text {
        grid-column: 1 / 4;
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
        padding: 4.25rem 5rem 4.25rem 3rem;
        width: 100%;
    }

    .signup-para {
        font-size: 1.12rem;
        opacity: .95;
    }

    .signup-title {
        font-size: 3.75rem;
        opacity: .95;
    }

    .signup-bullets {
        gap: .75rem;
        font-size: 1.125rem;
        opacity: .95;
    }

    .button {
        font-size: 1rem;
    }
    
    .confirmation-card {
        max-width: 31rem;
        display: none;
        flex-direction: column;
        padding: 3rem 4rem 4rem 4rem;
        border-radius: 2rem;
    }

    .confirmation-icon {
        padding: 0;
    }

    .confirmation-title {
        font-size: 3rem;
        line-height: 3rem;
    }

    .dismiss-button {
        margin: 0;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
}