:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: var(--charcoal-grey);
}

.signup-card {
    width: 100%;
}

.signup-text {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.signup-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.signup-para {
    line-height: 1.5rem;
    font-weight: 500;
}

.signup-bullets {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-size: 1rem;
}

.bullet-item-container {
    display: flex;
    align-items: start;
    padding-top: .25rem;
}

.bullet-item {
    font-weight: 500;
    line-height: 1.5rem;
    padding-left: 1rem;
    list-style: none;
}
.signup-img {
    width: 100%;
}

.label-container {
    display: flex;
}

.confirmation-card {
    display: none;
}
